force-app/main/default/flows/test_screen.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <assignments>
        <name>asigment_songs</name>
        <label>asigment songs</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>song_collection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Transform_songs</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_1</name>
        <label>Assignment 1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>album_collection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Transform_albums</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_1</targetReference>
        </connector>
    </assignments>
    <dynamicChoiceSets>
        <name>choice_album</name>
        <collectionReference>album_collection</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Album__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>test screen {!$Flow.CurrentDateTime}</interviewLabel>
    <label>test screen</label>
    <loops>
        <name>Loop_1</name>
        <label>Loop 1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>albums_repeater.AllItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Transform_albums</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>save_albums</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_2</name>
        <label>Loop 2</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>song_repeater.AllItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Transform_songs</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>save_songs</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>create_artist</name>
        <label>create artist</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>add_album</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>artist_name</elementReference>
            </value>
        </inputAssignments>
        <object>Artist__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>save_albums</name>
        <label>save albums</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>song_screen</targetReference>
        </connector>
        <inputReference>album_collection</inputReference>
    </recordCreates>
    <recordCreates>
        <name>save_songs</name>
        <label>save songs</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>song_collection</inputReference>
    </recordCreates>
    <screens>
        <name>add_album</name>
        <label>add album</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Loop_1</targetReference>
        </connector>
        <fields>
            <name>albums_repeater</name>
            <fieldType>Repeater</fieldType>
            <fields>
                <name>album_name</name>
                <dataType>String</dataType>
                <fieldText>album name</fieldText>
                <fieldType>InputField</fieldType>
                <isRequired>true</isRequired>
            </fields>
            <fields>
                <name>release_date</name>
                <dataType>Date</dataType>
                <fieldText>release date</fieldText>
                <fieldType>InputField</fieldType>
                <isRequired>true</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>screen_flow</name>
        <label>screen flow</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>create_artist</targetReference>
        </connector>
        <fields>
            <name>artist_name</name>
            <dataType>String</dataType>
            <fieldText>artist name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>song_screen</name>
        <label>song screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Loop_2</targetReference>
        </connector>
        <fields>
            <name>song_repeater</name>
            <fieldType>Repeater</fieldType>
            <fields>
                <name>song_name</name>
                <dataType>String</dataType>
                <fieldText>song name</fieldText>
                <fieldType>InputField</fieldType>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>genre</name>
                <dataType>String</dataType>
                <fieldText>genre</fieldText>
                <fieldType>InputField</fieldType>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>release_song</name>
                <dataType>Date</dataType>
                <fieldText>release song</fieldText>
                <fieldType>InputField</fieldType>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>play_time</name>
                <dataType>Number</dataType>
                <fieldText>play time</fieldText>
                <fieldType>InputField</fieldType>
                <isRequired>false</isRequired>
                <scale>0</scale>
            </fields>
            <fields>
                <name>album</name>
                <choiceReferences>choice_album</choiceReferences>
                <dataType>String</dataType>
                <fieldText>album</fieldText>
                <fieldType>DropdownBox</fieldType>
                <isRequired>true</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>screen_flow</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <transforms>
        <name>Transform_albums</name>
        <label>Transform_albums</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assignment_1</targetReference>
        </connector>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <objectType>Album__c</objectType>
        <scale>0</scale>
        <transformValues>
            <transformValueActions>
                <outputFieldApiName>ArtistId__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>create_artist</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Name</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Loop_1.album_name</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Release_Date__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Loop_1.release_date</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <transforms>
        <name>Transform_songs</name>
        <label>Transform songs</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>asigment_songs</targetReference>
        </connector>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <objectType>Song__c</objectType>
        <scale>0</scale>
        <transformValues>
            <transformValueActions>
                <outputFieldApiName>Name</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Loop_2.song_name</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Genre__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Loop_2.genre</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Release_Date__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Loop_2.release_song</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Duration__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Loop_2.play_time</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>ArtistId__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>create_artist</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>AlbumId__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Loop_2.album</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <variables>
        <name>album_collection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Album__c</objectType>
    </variables>
    <variables>
        <name>song_collection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Song__c</objectType>
    </variables>
</Flow>
